.footer
  .footer_box
    %ul.footer_box__ul
      %li.footer_box__li--title
        FULIMAについて
      %li.footer_box__li--item
        = link_to '#', class: 'footer_box__li--item' do
          会社概要（運営会社）
      %li.footer_box__li--item
        = link_to '#', class: 'footer_box__li--item' do
          プライバシーポリシー
      %li.footer_box__li--item
        = link_to '#', class: 'footer_box__li--item' do
          FULIMA利用規約
      %li.footer_box__li--item
        = link_to '#', class: 'footer_box__li--item' do
          ポイントに関する特約

    %ul.footer_box__ul
      %li.footer_box__li--title
        FULIMAを見る
      %li.footer_box__li--item
        = link_to '#', class: 'footer_box__li--item' do
          カテゴリー 一覧
      %li.footer_box__li--item
        = link_to '#', class: 'footer_box__li--item' do
          ブランド一覧

    %ul.footer_box__ul
      %li.footer_box__li--title
        ヘルプ＆ガイド
      %li.footer_box__li--item
        = link_to '#', class: 'footer_box__li--item' do
          FULIMAガイド
      %li.footer_box__li--item
        = link_to '#', class: 'footer_box__li--item' do
          FULIMAロゴ利用ガイドライン
      %li.footer_box__li--item
        = link_to '#', class: 'footer_box__li--item' do
          お知らせ