.header
  .header_box
    .header_box__up
      = link_to '#' do
        = image_tag "/fulima_sample/logo/logo.png", class: 'header_box__up--logo', alt: 'ロゴ画像'
      = form_with model: @product, method: :get do |product|
        = product.text_field :name, class: 'header_box__up--text'
        = product.submit class: 'header_box__up--submit'
    .header_box__under
